.header {
  width: 100vw;
  height: 80px;
  background-color: #2d3a4b;
  ul {
    li {
      color: #fff;
      font-size: 26px;
      line-height: 80px;
      width: 190px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.innerImg {
  width: 80px;
  height: 50px;
}

.head {
  width: 94%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  button {
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    outline: none;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all .2s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    line-height: 1.5714285714285714;
    color: rgba(0,0,0,.88);
    background-color: #1677ff;
    border: 1px solid #1677ff;
    color: #fff;
    margin-left: 20px;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  & .bg {
    opacity: 0.6;
    background-color: #000;
    width: 100vw;
    height: 100vh;
  }
  &-box {
    width: 600px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events: auto;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & .headers {
    margin: 0;
    color: rgba(0,0,0,.88);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  & .modal-footer {
    margin-left: auto;
    .normal {
      background-color: #fff;
      border: 1px solid #d9d9d9;
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
      font-size: 14px;
      height: 32px;
      padding: 4px 15px;
      border-radius: 6px;
      outline: none;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      transition: all .2s cubic-bezier(.645,.045,.355,1);
      user-select: none;
      touch-action: manipulation;
      line-height: 1.5714285714285714;
      color: rgba(0,0,0,.88);
    }
    .blue {
      box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
      font-size: 14px;
      height: 32px;
      padding: 4px 15px;
      border-radius: 6px;
      outline: none;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      transition: all .2s cubic-bezier(.645,.045,.355,1);
      user-select: none;
      touch-action: manipulation;
      line-height: 1.5714285714285714;
      color: rgba(0,0,0,.88);
      background-color: #1677ff;
      border: 1px solid #1677ff;
      color: #fff;
      margin-left: 20px;
    }
  }
}

.imgUp {
  width: 100px;
  height: 100px;
}